.header-widgets {

}

#float-login {
    float: right;
    font-size: 130%;
    position: relative;
    top: 15px;
}

#donate-link {
    float: right;
    margin-right: 2%;
    font-size: 190%;
    color: #D95B1C;
    font-weight: 600;
}

#subscribe-link {
    float: right;
    font-size: 190%;
    font-weight: 500;
    margin-right: 7%;
    color: black;
}
/* the twitter, fb, instagram, and search button are all images */
.header-widgets img {
    float: right;
    width: 5%;
    height: 70px;
}

.AF-logo {
    border-right: 1px solid black;
    color: whitesmoke;
    display: inline-block; /* must be display block so border right wont go to the end of the page */
    border-right: 2px solid white;
    text-align: right;
    margin-left: 3%;
    font-size: 130%;
    font-weight: 600;
    position: relative;
    right: 3px;
}

.pad-border {
    /* makes the span tag hidden so the word 'a' provides space between the word and the border on the right */
    visibility: hidden;
}

nav {
    margin-top: 3%;
    background-color: black;
    padding-top: 5px;
    padding-bottom: 12px;
}

nav ul, nav li {
    display: inline-block;
    margin-left: 20px;
   
}

nav ul {
    position: relative;
    top: -20px;
    
}

nav ul li a {
    color: white;
    font-size: 130%;
    font-weight: 700;
}

.rotating-area {
    margin-top: 1%;
}
.rotating-area img {
    width: 50%;
    height: 100%;
    margin-left: 1%;
}
#image1{
    display:inline-block;
    padding-left: 5%
}
#image2, #image3, #image4 {
    /* remove the images from the flow of the page and retrive them with js */
    display: none;
}
.image-info {
    display: inline-block;
    position: absolute;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 10%;
}

#review-label, #team-label {
    color: forestgreen;
    font-size: 120%;
    font-weight: 600;
}

#team-label {
    color: grey;
}

.readmore-button {
    border: 1px solid gray;
    width: 20%;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
    box-shadow: 1px 1px black;
    margin-top: 2%;
}

.readmore-button a {
    color: dimgray;
}

.circle {
    background-color: tan;
    border-radius: 50%;
    height: 10px;
    width: 10px;
    display: inline-block;
    border: 1px solid black;
    margin-right: 20px;
}

.current-picture {
    display: inline-block;
   position: relative;  
}

.rotating-area-controls {
    text-align: center;
}

span.glyphicon-menu-left {
    float: left;
    font-size: 275%; /*changes font-size of the icons */
    color: rgba(128,128,128, .7);
}
span.glyphicon-menu-right {
    float: right;
    font-size: 275%; /*changes font-size of the icons */
    color: rgba(128,128,128, .7);
}

.videoArea{
    margin-left: 5%;
    margin-right: 5%;
}

.videoItem{
    display: inline-block;
    vertical-align: text-top;
}

.videoDesc{
    width: 30%;
    margin-left: 5%;
    display: inline-block;
    vertical-align: text-top;
}

.vertical-line{
    width: 1px; 
    background-color: black; 
    height: 100%; 
    float: left;
    vertical-align: text-top;
    display: inline-block;
}
.vertical_line{
    border-left: thick solid #D3D3D3;
    vertical-align: text-top;
    display: inline-block;
}
.vertical_line .announcementArea {
    vertical-align: text-top;
    display: inline-block;
    text-align: center;
    padding-left: 30%;
}
.vertical_line .announcementArea h3{
    color: #ef9c15;
}